.game {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
 
.player {
    border: 2px solid #333;
    padding: 10px;
    width: 200px;
}
 
.health {
    font-weight: bold;
    color: darkred;
}
 
.attack {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
 
.specialAttack {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
 
.zone {
    margin-top: 20px;
    text-align: center;
}
 
.zone img {
    width: 100px;
}